<!DOCTYPE html>
<html>
<head>
    <title>Brain Tumor</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <style>
        .float-left {
        float: left;
        margin-right: 20px;
        margin-bottom: 20px; 
        }
    </style>
</head>
<body>
    <div class="container"  style="background-color: rgb(35, 141, 194,0.3);">
        
        <h1>What is Brain Tumor?</h1>
        <img src="static/images/btimg.jpeg" alt="Description of the image" class="float-left">
        <p style="text-align: left">&emsp;&emsp; A brain tumor is a growth of cells in the brain or near it. Brain tumors can happen in the brain tissue. Brain tumors also can happen near the brain tissue. Nearby locations include nerves, the pituitary gland, the pineal gland, and the membranes that cover the surface of the brain.

            Brain tumors can begin in the brain. These are called primary brain tumors. Sometimes, cancer spreads to the brain from other parts of the body. These tumors are secondary brain tumors, also called metastatic brain tumors.</p>
    </div>

    <div class="container" style="background-color: rgb(35, 141, 194,0.3);"> 
        <h2>Types of Brain Tumors</h2>
        <p style="text-align: left">&emsp;&emsp;There are more than 120 different types of brain tumors, lesions and cysts, which are differentiated by where they occur and what kinds of cells they are made of. Certain types of tumors are typically benign (noncancerous), while others are typically malignant (cancerous). Others may have a 50/50 chance of being cancerous.</p> 
        <h3>Tumors that can be predicted by our model</h3>
        <h4 style="text-align: left">* Meningioma Tumor</h4>
        <h4 style="text-align: left">* Pituitary Tumor</h4>
        <h4 style="text-align: left">* Glioma Tumor</h4>
        <h4 style="text-align: left">*  No Tumor</h4>

    </div>
    <div class="container" style="background-color: rgb(35, 141, 194,0.3);">
        <h2>Meningioma</h2>
        <img src="static/images/21.jpg" alt="Description of the image" class="float-left" style="height: 175px; width: 175px;">
        <p style="text-align: left">&emsp;&emsp;Meningioma is the most common primary brain tumor, accounting for more than 30% of all brain tumors. Meningiomas originate in the meninges, the outer three layers of tissue that cover and protect the brain just under the skull. Women are diagnosed with meningiomas more often than men. About 85% of meningiomas are noncancerous, slow-growing tumors. Almost all meningiomas are considered benign, but some meningiomas can be persistent and come back after treatment.</p> 

    </div>
    <div class="container" style="background-color: rgb(35, 141, 194,0.3);">
        <h2>Pituitary Adenoma</h2>
        <img src="static/images/22.jpg" alt="Description of the image" class="float-left" style="height: 175px; width: 175px;">
        <p style="text-align: left">&emsp;&emsp;Adenoma, a type of tumor that grows in the gland tissues, is the most common type of pituitary tumor. Pituitary adenomas develop from the pituitary gland and tend to grow at a slow rate. About 10% of primary brain tumors are diagnosed as adenomas. They can cause vision and endocrinological problems. Fortunately for patients affected by them, adenomas are benign and treatable with surgery and/or medication.Pituitary adenomas are tumors of the anterior pituitary. Most pituitary tumors are slow-growing and benign. They are classified based on size or cell of origin. Pituitary adenoma can be described as microadenoma, macroadenoma, and giant tumors based on size.</p> 
    </div>
    <div class="container" style="background-color: rgb(35, 141, 194,0.3);">
        <h2>Glioma</h2>
        <img src="static/images/4.jpg" alt="Description of the image" class="float-left" style="height: 175px; width: 175px;">
        <p style="text-align: left">&emsp;&emsp;Glioma is a growth of cells that starts in the brain or spinal cord. The cells in a glioma look similar to healthy brain cells called glial cells. Glial cells surround nerve cells and help them function.

            As a glioma grows it forms a mass of cells called a tumor. The tumor can grow to press on brain or spinal cord tissue and cause symptoms. Symptoms depend on which part of the brain or spinal cord is affected.
            
            There are many types of glioma. Some grow slowly and aren't considered to be cancers. Others are considered cancerous. Another word for cancerous is malignant. Malignant gliomas grow quickly and can invade healthy brain tissue. Some types of glioma happen mostly in adults. Others happen mostly in kids.</p> 

    </div>
    <div class="container" style="background-color: rgb(35, 141, 194,0.3);">
    <a style="color: rgb(10, 10, 95);"  href="/">Go Back</a>
    </div>
</body>